<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/Dashboard/Index">
                        <i class="fa fa-dashboard fa-fw"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Leaderboard/Index">
                        <i class="fa fa-table fa-fw"></i> Leaderboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Predictions/Index">
                        <i class="fa fa-eye fa-fw"></i> Predictions<span class="fa arrow"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Results/Index">
                        <i class="fa fa-trophy fa-fw"></i> Results<span class="fa arrow"></span>
                    </a>
                </li>
            </ul>
    </div>
</nav>