<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav flex-column" id="side-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Leaderboard/Index"><i class="fa fa-table fa-fw"></i> Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-eye fa-fw"></i> Predictions<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Predictions/Index">My Predictions</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="/Predictions/Manage">Manage</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-trophy fa-fw"></i> Results<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Results/Index">View</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="/Results/Manage">Manage</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>