<div class="jumbotron">
    <h1>World Cup Predictor</h1>
    <p class="lead">Join now to predict the World Cup and win!</p>
    <p><a href="/account/register" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Predict</h2>
        <p>
            Enter the scores you think will occur and build up your own World Cup knockout Stage. 
        </p>
        <p><a class="btn btn-default" href="/home/about">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enjoy</h2>
        <p>Sit back and enjoy the World Cup as the Predictor Automatically tallys up and scores your predictions</p>
        <p><a class="btn btn-default" href="/home/about">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Win</h2>
        <p>Join with a group of mates and you could win!</p>
        <p><a class="btn btn-default" href="/home/about">Learn more &raquo;</a></p>
    </div>
</div>